/* CurrentWeather.css */

.current-weather {
  display: flex;
  width: 780px;
  height: 330px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #d9d9d9;
  align-items: center;
  justify-content: center;
  padding: rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.current-weather__temperature {
  height: 100%;

  width: 304px;
  display: flex;
  flex-direction: column;
}

.current-weather__temperature-value {
  max-width: 100%;
  flex-shrink: 0;
  font-family: Poppins;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  justify-content: center;
}

.current-weather__temperature-feels-like {
  width: 100%;
  height: 30.512px;
  flex-shrink: 0;
  color: #292929;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  text-align: center;

  justify-content: center;
}

.current-weather__details {
  width: 100%;
  gap: 20px;
  height: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.current-weather__details-icons {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.current-weather__details-icons > img {
  object-fit: contain;
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.current-weather__details-sunrise-sunset {
  display: flex;
  flex-direction: column;
  gap: 15px;

  flex-shrink: 0;
  color: #292929;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.current-weather__description {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.current-weather__description-icon {
  width: 200px;
  object-fit: contain;
  margin-top: 0px;
  
  animation: zoom 2s infinite alternate;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}

.current-weather__description-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #292929;
  text-align: center;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
 
}

.current-weather__additional-info {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  align-items: center;

  justify-content: center;
}

.current-weather__info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.current-weather__info-item > span {
  width: 113.303px;
  height: 32.195px;
  flex-shrink: 0;
  color: #292929;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.current-weather__info-item > img {
  width: 100px;
}
