.weather {
  max-width: 1440px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 850px;
  height: 100%;
  background: var(--bg--main);

  margin: 2rem auto;

  border-radius: 30px;
}

.weather__content {
  max-width: 1440px;
  width: 100%;
  display: flex;
  padding: 1.5rem;
  flex-direction: column;
  gap: 1rem;
  flex-wrap: wrap;
}

.weather__current-info {
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.wetaher__forescat-info {
  justify-content: center;
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}
