.daysforescat {
  display: flex;
  justify-content: space-between;
  width: 414px;
  height: 366px;
  flex-shrink: 0;
  border-radius: 30px;
  background: var(--bg);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: var(--text-color);
}

.daysforescat__card {
  border: none;
  margin: 5px;
  display: flex;
  flex-direction: column;
  background: var(--bg);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  width: 180px;
  height: 170px;
  justify-content: center;
  align-items: center;
}

.daysforescat__icon {
  width: 60px;
  object-fit: contain;
}

.daysforescat__temperature {
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-family: Poppins;
}

.daysforescat__date,
.daysforescat__day,
.daysforescat__description {
  display: block;
  margin-top: 5px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
